body {
  padding: 0;
  margin: 0;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.05em;
  background: url(../img/sky.jpg) no-repeat center top / cover;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #5e5794;
  font-size: 35px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 17px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

li::first-letter {
  text-transform: capitalize;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

.weather-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0 40px;
}

.weather-search {
  text-align: center;
  padding: 40px;
}

.search {
  display: flex;
  justify-content: center;
}

.city-search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.search-group {
  display: flex;
  justify-content: center;
}

.search-input {
  border-radius: 15px 0 0 15px;
}

.btn-search {
  border-radius: 0 15px 15px 0;
  background: #5e5794;
  color: #fff;
  border: transparent;
}

.btn-search:hover,
.btn-search:active {
  border-radius: 0 15px 15px 0;
  background: #5e5794;
  color: #fff;
  border: transparent;
}

.current-location {
  border: none;
  background: transparent;
  font-size: 25px;
  color: #5e5794;
}

.weather-forecast {
  padding: 50px 30px 50px 60px;
  background: linear-gradient(
    209.29deg,
    rgba(19, 19, 51, 0.18) 17.19%,
    rgba(40, 39, 74, 0.81) 81.74%
  );

  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 35px 0px rgb(101 116 169 / 82%);
}

.current-weather {
  display: flex;
  align-items: center;
}

.weather-now {
  display: flex;
  justify-content: center;
}

.weather-now img {
  transition: 0.3s;
}

.weather-now:hover img {
  transform: scale(1.2);
}

.weather-now-details {
  border-left: 2px solid #fcfcff38;
  height: 100%;
  padding: 10px 0 0 20px;
}

.temperature {
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

.units {
  display: inline-block;
  vertical-align: top;
}

.card-group {
  justify-content: space-between;
}

.card-group img {
  max-width: 65%;
  margin: 10px auto;
  transition: all 200ms ease-in-out;
}

.card {
  margin: 15px 10px 0;
  border: none;
  background: transparent;
  transition: all 200ms ease-in-out;
}

.card:hover {
  box-shadow: 0px 0px 48px -18px rgba(0, 0, 0, 0.85);
  transform: scale(1.1);
}

.card-body {
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-title {
  margin-bottom: 0;
}

.weather-forecast-date {
  font-size: 14px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.open-source {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: #5e5794;
}

.open-source a {
  display: block;
  color: #5e5794;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .weather-app {
    margin: 40px 0;
  }
  .temperature {
    font-size: 56px;
  }

  .current-location {
    font-size: 20px;
  }
}
